@import url('https://fonts.googleapis.com/css?family=Comfortaa');

* {
    margin: 0;

    font-family: 'Comfortaa', Consolas, Arial;
}

body {
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    font-size: 16px;
    background-color: #f2f2f2;
    color: #303030;
}
body a {
    color: #4c4c4c;
}

input {
    font-size: 16px;
    padding: 4px;
    font-family: Arial, sans-serif;
}

label {
    user-select: none;
}

footer, header {
    background-color: #f0f0f0;
    color: #000;
}
footer a, header a {
    color: #00a9ff;
}

header {
    padding: 15px 40px;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 11vh;
}

.main-menu {
    font-size: larger;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 40px;
    text-align: center;
    display: inline-grid;
    grid-template-columns: repeat(5, 15%);
    align-items: stretch;
    justify-content: space-evenly;
    margin: 0;
}

.main-menu li {
    display: inline-flex;
    margin-right: 0;
    align-items: center;
}

.main-menu a {
    padding: 8px 10px;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
    background-color: #f6f6f6;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu a:hover {
    color: #fff;
    background-color: #1F1F1F;
}


p, ul {

    font-size: large;
}

.footer-menu {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-menu li:not(:last-child) {
    margin-right: 10px;
}

.logo {
    /* position: absolute;
     width: 240px;
     left: 10px;
     top: 15px;*/
    width: 240px;
    margin: 0 0 0 10px;
}

nav {
    margin-top: 0;
    margin-left: 0;
}
main {
    color: #303030;
}
main a {
    color: #4c4c4c;
}

img {
    max-width: 100%;
}

.center {
    display: grid;
    justify-items: center;
    align-items: center;
}

.page-layout {
    display: grid;
    grid-template: "h h h" auto ". c ." auto/1fr minmax(320px, 1100px) 1fr;
}

header {
    grid-area: h;
    display: flex;
    align-items: center;
    padding: 1rem;
}
header h1 {
    margin-left: 2rem;
}

.logo .logo-image {
    max-height: 80px;
}

main {
    grid-area: c;
    padding-top: 40px;
    padding-bottom: 80px;
}

form {
    background: rgba(255,245,215,.7);
    width: 500px;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 20px;
}
form input[type=email], form input[type=number], form input[type=text], form select, form textarea {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
    outline: 0;
    width: 95%;
    border: 1px solid #000;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    resize: vertical;
    max-height: 82px;
    min-height: 41px
}

.btn, input[type=submit] {
    margin-top: 20px;
    padding: 10px;
    background: #fff;
    border: 2px solid #000;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 2px;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block
}

.btn[disabled], input[type=submit][disabled] {
    opacity: 0.8;
    cursor: default
}

.btn:hover, input[type=submit]:hover {
    background: #000;
    color: #fff
}

label{

    color: #000;
    font-weight: bold;
}

.radio-group {

    padding: 10px;
}

table, th, td {
  border: 1px solid #303030;

  font-size: 1vw;
}

table {
    background-color: white;
  table-layout: fixed;
  width: 1000px;
  border-collapse: collapse;
  margin: auto;
  background-color: white;
}

table th, table td {
  padding: 0.8rem 1rem;
  word-wrap: break-word;
}

table tr:nth-child(2n + 1) {
  background-color: #d6d6d6;
}

table tr td.nobg {
  background-color: white;
  border-left: none;
  border-right: none;
}

table tr td.redbg {
  background-color: tomato;
  border-left: none;
  border-right: none;
}

table tr.title{
  background-color: #303030;
  color: #ececec;
}

footer {
    width: 100%;
    color: white;
    text-align: center;
}

.copyright {
    display: flex;
    padding: 0;
    justify-content: center;
    color: #000;
}

.red {
    color: red;
    font-size: x-large;
    font-weight: normal;
}

/* social */

.fa {
    font-size: 30px;
    width: 30px;
    height: 46px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    display: inline-flex !important;
    align-items: center;
    justify-items: center;
    padding: 0 10px 0 8px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}